# Node specific
node_modules
npm-debug.log
*.log

# Build artifacts / Environment files
dist
.env*
!.env.example

# Docker specific
Dockerfile
.dockerignore

# Git specific
.git
.gitignore

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

README.md